// Pawsey Setonix nf-core configuration profile
        params {
            config_profile_description = 'nf-core/proteinfold Pawsey Setonix HPC profile provided by nf-core/configs'
            config_profile_contact     = 'Sarah Beecroft (@SarahBeecroft)'
            config_profile_url         = 'https://support.pawsey.org.au/documentation/display/US/Setonix+User+Guide'

            // Number of GCDs per process
            boltz_gcds          = 1
            alphafold2_gcds     = 1
            rfdiffusion_gcds    = 1
            mpnn_gcds           = 1
            bindcraft_gcds      = 1


            // ---- Alphafold2 databases / params ----
            ## TO DO update params to match params_2022-12-06
            af2_models                   = '/scratch/references/alphafold_feb2024/databases/params/*'
            alphafold2_jax_compilation_cache_dir = "${System.getenv('MYSOFTWARE')}/jax_cache/alphafold2"
            bindcraft_jax_compilation_cache_dir = "${System.getenv('MYSOFTWARE')}/jax_cache/bindcraft"

            // ---- BOLTZ databases / params ----
            boltz_models = '/scratch/references/proteinfold_jun2026/params'
            boltz_use_kernels = false

            // ---- RFDiffusion databases/params ----
            rfd_models = '/app/RFdiffusion/models'
        }

        process {
            module         = 'singularity/3.11.4-nohost'

            withName: 'AF2' {
                container      = 'quay.io/pawsey/alphafold2:proteinfold'
                containerOptions = """-B ${System.getenv('MYSOFTWARE')} \
                --env JAX_COMPILATION_CACHE_DIR=${params.alphafold2_jax_compilation_cache_dir} \
                --env AMD_COMGR_CACHE_DIR=${params.alphafold2_jax_compilation_cache_dir}"""
                queue          = 'gpu'
                clusterOptions = """--account=${System.getenv('PAWSEY_PROJECT')}-gpu \
                                    --nodes=1 \
                                    --gres=gpu:${params.alphafold2_gcds} \
                                    --mem=0 \
                                    --ntasks=${params.alphafold2_gcds}
                                    """
                time   = { 1.h  * task.attempt }
                ext.args = '--use_gpu_relax=true'
            }

            withName: 'Boltz' {
                container        = 'quay.io/pawsey/boltz2:v2.2.1_rocm6.4'
                queue            = 'gpu'
                clusterOptions   = """--account=${System.getenv('PAWSEY_PROJECT')}-gpu \
                --nodes=1 \
                --ntasks=${params.boltz_gcds} \
                --gres=gpu:${params.boltz_gcds}\
                --mem=0
                """
                time   = { 1.h  * task.attempt }
            }

            withName: 'RunBC' {
                container      = 'quay.io/pawsey/freebindcraft:v1.0.5_rocm7.0.2_nopyrosetta
                containerOptions = """-B ${System.getenv('MYSOFTWARE')} \
                --env ROCR_VISIBLE_DEVICES=0 \
                --env HIP_VISIBLE_DEVICES=0 \
                --env JAX_COMPILATION_CACHE_DIR=${params.bindcraft_jax_compilation_cache_dir} """
                queue          = 'gpu'
                clusterOptions = """--account=${System.getenv('PAWSEY_PROJECT')}-gpu \
                                    --nodes=1 \
                                    --gres=gpu:${params.alphafold2_gcds} \
                                    --mem=0
                                    """
                time   = { 1.h  * task.attempt }
                ext.args = '--use_gpu_relax=true'
            }

            ## TODO: Update these
            withLabel: 'MPNN' {
                container        = "${params.container_registry}/dl_binder_design:${params.container_version}"
                containerOptions ="""--bind ${projectDir}/scripts:/scripts \
                                      --bind ${projectDir}
                                    """
                queue            = 'gpu'
                clusterOptions   = """--account=${System.getenv('PAWSEY_PROJECT')}-gpu \
                --nodes=1 \
                --ntasks=1 \
                --gres=gpu:${params.mpnn_gcds} --mem=0
                """
                time   = { 1.h  * task.attempt }
            }
        
            withLabel: 'RFDiffusion' {
                container        = 'quay.io/pawsey/rfdiffusion:rocm7.0.0_dgl2.4.0'
                containerOptions = '-B schedules:/app/RFdiffusion/rfdiffusion/inference/../../schedules'
                queue            = 'gpu'
                clusterOptions   = """--account=${System.getenv('PAWSEY_PROJECT')}-gpu \
                                      --nodes=1 \
                                      --ntasks=${params.rfdiffusion_gcds_gcds} \
                                      --gres=gpu:${params.rfdiffusion_gcds_gcds} \
                                      --mem=0
                                    """
                time   = { 1.h  * task.attempt }
            }
        }